torch==2.9.1
tqdm==4.67.1
supervision==0.27.0
numpy==2.2.6
ultralytics==8.3.233
opencv-python==4.12.0.88
umap-learn==0.5.9.post2
scikit-learn==1.7.2
transformers==4.57.3
sentencepiece==0.2.1
protobuf==6.33.1
moviepy==2.2.1
paddleocr==3.3.2